@mixin box($h, $w) {
	width: $w;
	height: $h;
}

@mixin user-select($a) {
	-webkit-user-select: $a;
	-moz-user-select: $a;
	-ms-user-select: $a;
	user-select: $a;
}

@mixin online-effect() {
	&:after,
	&:before {
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 50%;
		display: block;
		width: 0;
		height: 0;
		content: "";
		border-radius: 999px;
	}
	&:after {
		-webkit-animation: expand 1500ms infinite 750ms ease-in;
		animation: expand 1500ms infinite 750ms ease-in;
	}
	&:before {
		-webkit-animation: expand 1500ms infinite ease-in;
		animation: expand 1500ms infinite ease-in;
	}
}
