@import 'variables', 'mixins', 'colors', 'angular';

*{
	box-sizing: border-box;
}

body {
	background: $background-color;
	background: -moz-radial-gradient(center, ellipse cover, $background-color 0%, $background-color-secondary 100%);
	background: -webkit-radial-gradient(center, ellipse cover, $background-color 0%, $background-color-secondary 100%);
	background: radial-gradient(ellipse at center, $background-color 0%, $background-color-secondary 100%);
	font-family: $font-main;
	@include user-select(none);
}

a {
	text-decoration: none;
}

#main-container {
	margin: 3% auto;
	width: 60%;
	.main-title {
		color: $text-color;
		font-size: 2em;
		font-weight: 600;
		text-align: center;
		text-transform: uppercase;
		margin: 0 0 20px 0;
	}
}

.stream-container {
	background: $container-color;
	width: 100%;
	padding: 20px;
	margin: 0 0 2px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	&:hover{
		background: $container-color-light;
	}
	.stream-name, .stream-title {
		align-self: center;
		color: $text-color;
		margin-left: 20px;
		text-align: center;
	}
	.stream-name {
		width: 30%;
		font-style: italic;
	}
	.stream-title {
		width: 70%;
		font-weight: 600;
	}
}

.stream-logo-container{
	border: $container-color-shadow solid 2px;
	.stream-logo{
		@include box($logo-size, $logo-size);
	}
	.stream-status-container {
		width: $logo-size;
		padding: 7px 0;
		position: relative;
		display: none;
		overflow: hidden;
		color: $text-color;
		font-size: 11px;
		text-align: center;
		text-transform: uppercase;
		&.online, &.offline{
			display: block;
		}
		&.online{
			background: $status-color-online;
			font-weight: 600;
			@include online-effect();
		}
		&.offline{
			background: $status-color-offline;
		}
	}
}
