@import "colors", "variables", "mixins";

* {
	box-sizing: content-box;
}

body {
	display: flex;
	justify-content: space-between;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	background: $stream-background-color;
}

//normalize.css override
a:focus {
	outline: 0;
}

.side-container {
	overflow: hidden;
	width: 280px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	background: darken($twitch-dark-gray, 5%);
}

.stream-container {
	width: 100%;
	height: 100vh;
	flex-shrink: 1000;
}

.stream-frame {
	width: 100%;
	height: 100vh;
	border: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: block;
}

list-add, .list-toolbar-container {
	width: 280px;
	height: 60px;
	background: lighten($twitch-dark-gray, 3%);
}

list-add {
	display: block;
	width: 100%;
	border-bottom: 1px darken($twitch-dark-gray, 5%) solid;
	input {
		box-sizing: border-box;
		line-height: 50px;
		width: 100%;
		margin: 0;
		padding: 0 10px;
		font-family: "Open Sans", sans-serif;
		color: $text-color;
		background: none;
		border: 0;
		&:focus {
			outline: 0;
		}
	}
}

list-scroll {
	display: block;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 300px;
	height: 100vh;
}

.list-container {
	width: 280px;
	position: relative;
}

list-user {
	display: block;
	background: $twitch-dark-gray;
	color: $text-color;
	text-decoration: none;
	position: relative;
	margin-top: 1px;
	&:first-child {
		margin-top: 0;
	}
}

.user-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&:hover {
		cursor: pointer;
		background: $twitch-dark-gray-hover;
	}
}

.user-avatar {
	width: 35px;
	height: 35px;
}

.user-name {
	font-style: italic;
	font-size: .8em;
}

.user-status {
	position: relative;
	overflow: hidden;
	width: 5px;
	height: 35px;
	background: $unknown-background-color;
	&.online {
		@include online-effect();
		background: $online-background-color;
	}
	&.offline {
		background: $offline-background-color;
	}
}

.user-remove {
	font-size: 1.3em;
	line-height: 35px;
	position: absolute;
	top: 0;
	left: -35px;
	width: 35px;
	height: 35px;
	opacity: 0;
	transition: opacity .1s ease-in, left .1s ease-in;
	text-align: center;
	background: $remove-color;
	&:hover {
		cursor: pointer;
		background: lighten($remove-color, 10%);
	}
	&.active {
		left: 0;
		opacity: 1;
	}
}

.list-toolbar-container {
	@include clearfix();
	border-top: 1px darken($twitch-dark-gray, 5%) solid;
	line-height: 40px;
	font-size: .9em;
	height: 40px;
	color: $text-color;
}

.toolbar-button {
	text-align: center;
	width: 33.333333%;
	float: left;
	&:hover, &.active {
		background: $twitch-dark-gray-hover;
	}
	&:hover {
		cursor: pointer;
	}
}
